.titlebar
  %h1.pull-left Listing Artwork Distributions #{@ad_vender.name}
%hr

%table.table.table-striped.table-bordered
  %tr
    %th Resolution
    %th.action
    %th.action

  - @artwork_distributions.each do |ad|
    %tr
      %td= ad.artwork.size
      %td.action= link_to 'Edit', edit_ad_vender_artwork_distribution_path(@ad_vender, ad)
      %td.action= link_to 'Destroy', [@ad_vender, ad], :method => :delete, :data => { :confirm => 'Are you sure?' }
