.titlebar
  %h1.pull-left Listing Products
  = link_to 'New Product', new_product_path, :class => 'btn btn-success pull-right new-btn'

%hr

%table.table.table-striped.table-bordered
  %tr
    %th Name
    %th.action
    %th.action

  - @products.each do |product|
    %tr
      %td= product.name
      %td.action= link_to 'Edit', edit_product_path(product)
      %td.action= link_to 'Destroy', product, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

